{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
{% comment %} <div>
    <h1>AppController</h1>
    <p>
        This is the AppController.
    </p>
</div> {% endcomment %}
{% endblock %}
